.RecommendSongSheet{
    text-align: center;
    color:#fff
}
.RecommendSongSheet-square{
    border: 1px solid #fff;
    border-radius: 15px;
    padding:5px 10px;
    position: relative;
    top:3px
}
.RecommendSongSheet-top{
    padding-bottom: 16px
}
.RecommendSongSheet-bottom{
    font-size: 12px
}
.RecommendSongSheet-font{
    display: block;
    line-height: 20px;
    overflow : hidden;
}
.RecommendSongSheet-Row{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}
.RecommendSongSheet-title{
    font-size: 16px
}