* {
	margin: 0;
	padding: 0;
}

.container {
	background: rgb(221, 45, 32);
	width: 100%;
	height: 100%;
}

.imgs {
	display: flex;
	justify-content: center;
	padding:120px 0px 240px;
}

.imgs img{
	display:block;
	width:60px;
	height:60px;
}


.input1 {
	display: flex;
	justify-content: center;
	padding-bottom: 30px;
}

.input1 input {
	width: 250px;
	height: 50px;
	font-size: 18px;
	color: rgb(245, 40, 37);
	border-radius: 50px;
}

.input2 {
	display: flex;
	justify-content: center;
}

.input2 input {
	color: white;
	font-size: 18px;
	background: rgb(221, 45, 32);
	width: 250px;
	height: 50px;
	border-radius: 50px;
}

.input3 {
	display: flex;
	justify-content: space-around;
	padding:40px 50px;
}

.input3 div {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid rgb(246, 215, 213);
}

.input3 div i {
	color: rgb(246, 215, 213);
	font-size: 20px;
	line-height: 40px;
}

.input4 {
	display: flex;
	justify-content: center;
	font-size: 14px;
	color:#ccc;
	padding-bottom:26px;
}

.input4 input {
	width: 14px;
	height: 14px;
}

.input4 span {
	color: rgb(246, 215, 213);
}
